body {
  background: #202838;
  font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  letter-spacing: 2px; 
}
.switch {
	width: 150px;
	height: 55px;
	position: relative;
	margin: 100px auto;
}
.switch input {
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 150px;
	height: 55px;
  position: absolute;
  cursor: pointer;
  opacity:0;
  display:block;
}
.switch:after{
  content:"";
  background: transparent;
  width: 152px;
  height: 57px;
  position: absolute;
  top:0px;
  border-radius: 30px;
  box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.75),
        inset 0 -1px 5px rgba(0,0,0,0.75),
        -2px 1px 3px rgba(255,255,255,0.08),
        2px -1px 3px rgba(255,255,255,0.08);
}
.switch label {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #1F2736; /*#121823*/
    background: linear-gradient(#121823, #161d2b);
	border-radius: 30px;
	box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.5),
        inset 0 1px 0 rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border:1px solid black;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  mask-image: -webkit-radial-gradient(circle, white, black);
}
.switch label:before,
.switch label:after{
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  height: 12px;
  background-color: #1F2736;
background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.2, transparent), color-stop(0.2, rgba(255,255,255,0.35)));
background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(255,255,255,0.35) 20%);
background-image: -moz-linear-gradient(90deg, transparent 20%, rgba(255,255,255,0.35) 20%);
background-image: -o-linear-gradient(90deg, transparent 20%, rgba(255,255,255,0.35) 20%);
background-image: linear-gradient(90deg, transparent 20%, rgba(255,255,255,0.35) 20%);
background-size: 20px 20px;
-webkit-transition: -webkit-transform .5s ease-in-out;
transition: transform .5s ease-in-out;
}
.switch label:before{
  top:-5px;
  -webkit-transform: rotate(10deg) skewY(-5deg);
  box-shadow:inset 0 -3px 6px rgba(0,0,0,0.75);
  border-radius: 30px 30px 0 0;
}
.switch label:after{
  bottom: -5px;
  -webkit-transform: rotate(-10deg) skewY(5deg);
  box-shadow:inset 0 3px 6px rgba(0,0,0,0.75);
  border-radius: 0 0 30px 30px;
}
.switch input:checked ~ label:before{
  -webkit-transform: rotate(-10deg) skewY(5deg);
}
.switch input:checked ~ label:after{
  -webkit-transform: rotate(10deg) skewY(-5deg);
}
.switch input ~ label i {
    display: block;
    height: 51px;
    width: 51px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    border-radius: inherit;
    background: #283446; /* Fallback */
    background: linear-gradient(#36455b, #283446);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
		 inset 0px 1px 1px green;
	-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.switch input:checked ~ label i {
    left: auto;
    left: 65%;
  box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 8px rgba(0,0,0,0.3),
        0 8px 8px rgba(0,0,0,0.3),
		 inset 0 1px 1px rgba(255, 0, 0, 0.3);
	-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
label i:before{
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: rgba(0,0,0,0.85);
  display: block;
  left: 17px;
  top: 20%;
  box-shadow: 1px 0 0 rgba(255,255,255,0.15),
              7px 0 0 rgba(0,0,0,0.85),
              8px 0 0 rgba(255,255,255,0.15),
              14px 0 0 rgba(0,0,0,0.85),
              15px 0 0 rgba(255,255,255,0.15);
}
label i:after{
  content: "";
  height: 51px;
  width:51px;
  border-radius:30px;
  position: absolute;
  box-shadow: 0 10px 10px rgba(0,0,0,0.75);
  
}
.switch span.led{
	display: inline-block;
	position: absolute;
	top: -40px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
   background: gradient-gradient(#36455b, #283446);
   box-shadow:
		      inset 0 1px 0 rgba(0,0,0,0.2),
  		    0 1px 0 rgba(255,255,255,0.1),
  	    	0 0 30px rgba(185,231,253,0),
            inset 0 0 8px rgba(0,0,0,0.9),
            inset 0 -2px 5px rgba(0,0,0,0.3),
            inset 0 -5px 5px rgba(0,0,0,0.5);
   -webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index: 2;
}
.switch span.led:after {
  background: rgba(255, 255, 255, 0.10);
  content: "";
  position: absolute;
  height: 5px;
  width: 10px;
  border-radius: 100% 100% 20% 20%;
  left: 22%;
  top: 15%;
}

.switch span.led:before{
  top:-25px;
  position: absolute;
  color: grey;
}
.switch input:checked ~ span.led.off:before{color: grey;}
.switch span.led.on{right: 5px;background: #45272c;}
.switch span.led.on:before{content: "off";}
.switch span.led.off{left: 5px;background: #27452c;}
.switch span.led.off:before{content: "on";}
.switch input:checked ~ span.led.on:before{color: white;}
.switch input ~ span.led.off:before{color: white;}
.switch input ~ span.led.off { 
	content: "";
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index: 2;
	background: #baffbc; 
   background: gradient-gradient(#ffffff, #7dba77);
   box-shadow:        
		      inset 0 1px 0 rgba(0,0,0,0.1),
		      0 1px 0 rgba(255,255,255,0.1),
		      0 0 30px rgba(62,248,77,1),
		      inset 0 0 8px rgba(62,248,77,0.8),
            inset 0 -2px 5px rgba(184,253,185,0.3),
            inset 0 -3px 8px rgba(184,253,185,0.5);
 }
 .switch input:checked ~ span.led.on{
  background: #FF5669; 
  background: gradient-gradient(#ff0000, #ba777b);
  box-shadow: 
            inset 0 1px 0 rgba(0,0,0,0.1), 
            0 1px 0 rgba(255,255,255,0.1), 
            0 0 30px rgba(255, 0, 38, 1), 
            inset 0 0 8px rgba(255, 8, 61, 0.8), 
            inset 0 -2px 5px rgba(253, 184, 199, 0.6), 
            inset 0 -3px 8px rgba(253, 184, 195, 0.5);
 }
.switch input:checked ~ span.led.off{
  background: #283446;
  background: gradient-gradient(#36455b, #283446);
  box-shadow:
		  inset 0 1px 0 rgba(0,0,0,0.2),
  		0 1px 0 rgba(255,255,255,0.1),
  		0 0 30px rgba(185,231,253,0),
  inset 0 0 8px rgba(0,0,0,0.9),
  inset 0 -2px 5px rgba(0,0,0,0.3),
  inset 0 -5px 5px rgba(0,0,0,0.5);
  }
 .switch input:checked ~ span.led.on:after{display:none;}